		<!-- wrapper -->
		<div id="wrapper">

			<div id="header" class="sticky header-sm clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
							<%= link_to "СТРОЙ САМ", root_path, :style => "font-size: 36px; font-weight: bolder" %>

						<div class="navbar-collapse pull-right nav-main-collapse collapse submenu-dark">
							<nav class="nav-main">

								<ul id="topMain" class="nav nav-pills nav-main">
									<li>
										<%= link_to "Главная", root_path %>
									</li>
									<li>
										<a href="/about.html">
											О проекте
										</a>
									</li>
									<li>
										<a href="/contacts.html">
											Контакты
										</a>
									</li>
									<% if current_user %>

										<li style="background-color: #bbb">
											<%= link_to "Профайл", user_path(current_user), :style => "color: #fff; font-weight: bold;" %>
										</li>
										<li style="background-color: orange">
											<%= link_to "Выход", destroy_user_session_path, :method => :delete, :rel => "nofollow", :style => "color: #fff; font-weight: bold;" %>
										</li>
									<% else %>
										<li style="background-color: #bbb">
											<a href="/users/sign_up" style="color: #fff; font-weight: bold;">
												Логин
											</a>
										</li>
										<li style="background-color: #8AB933">
											<%= link_to "Регистрация", new_user_registration_path, :style => "color: #fff; font-weight: bold;" %>
										</li>
									<% end %>
								</ul>
							</nav>
						</div>
					</div>
				</header>
				<!-- /Top Nav -->

			</div>

			<section class="page-header dark page-header-xs" style="background-image:url('/images/imgpattern2.jpg')">
				<div class="container">

					<% if @article.blank? %>
						<h1 style="color: #000; background-color:#fff; width: 410px; font-weight: bold; padding-left: 10px">Строительные коммуникации</h1>
						<strong style="color: #000; background-color:#fff; width: 150px; padding: 10px">Отопление, водоснабжение, канализация</strong>
					<% elsif @article.name.present? %>
						<h2 style="color: #000; background-color:#fff; width: 410px; font-weight: bold; padding-left: 10px; margin-bottom: 0"><%= @article.category.name %></h2>
						<strong style="color: #000; background-color:#fff; width: 150px; padding: 10px"><%= @article.category.description %></strong>
					<% else %>
						<h1 style="color: #000; background-color:#fff; width: 410px; font-weight: bold; padding-left: 10px">Строительные коммуникации</h1>
						<strong style="color: #000; background-color:#fff; width: 150px; padding: 10px">Отопление, водоснабжение, канализация</strong>					
					<% end %>						

					<!-- breadcrumbs -->
					<ol class="breadcrumb">
						<%= render_breadcrumbs :tag => :li, :separator => " " %>
					</ol><!-- /breadcrumbs -->

				</div>
			</section>
			<!-- /PAGE HEADER -->
			<!-- /PAGE HEADER -->