			<section>
				<div class="container">

					<div class="row">

						<div class="col-md-9 col-sm-9">

							<div class="row">

								<% @articles.each do |a| %>
									<div class="blog-post-item index-page col-md-4">
										<figure class="margin-bottom-10">
											<%= image_tag a.image.thumb.url, :class => "img-responsive", :alt => a.name %>
										</figure>
										<h2><%= link_to a.name, category_article_path(a.category, a) %></h2>
										<ul class="blog-post-info list-inline" style="margin-bottom: 10px;">
											<li>
												<i class="fa fa-clock-o"></i> 
												<span class="font-lato"><%= Russian::strftime(a.created_at, "%d %B %Y") %></span>
											</li>
											<% if a.comments.exists? %>
												<li>
													<i class="fa fa-comment-o"></i> 
													<span class="font-lato"><%= a.comments.count %></span>
												</li>
											<% end %>
										</ul>
										<p style="text-align: justify;"><%= truncate( raw( sanitize(a.text, :tags => %w(strong), :attributes => %w(id class style) ) ), :length => 100, :omission => "...").html_safe %></p>
										<%= link_to "<i class='fa fa-plus'></i><span>Читать полностью</span>".html_safe, category_article_path(a.category, a), :class => "btn btn-reveal btn-default", :rel => "nofollow" %>
									</div>
								<% end %>
							</div>

							<div class="row">
								<div class="heading-title heading-line-single">
									<span class="h1">Строй сам: <span style="color: #8AB933;">строительные коммуникации</span></span>
								</div>
								<p>Строительный портал «Строй сам» будет полезен как людям, впервые столкнувшимся с задачей произвести отделку помещений, установить в квартире или доме пластиковое окно, подключить приборы отопления, так и профессиональным строителям, занимающимся ремонтом уже не первый год. Вся информация на сайте написана экспертами в различных областях, давно и эффективно занимающимися прокладкой строительных коммуникаций и строительством.</p>
								<p>На сайте собраны практически советы по различным областям строительства и инженерным коммуникациям: отопление, горячее и холодное водоснабжение, прокладка электрической проводки, подключение приборов учёта, установки подвесных потолков. Мы постарались разместить максимально полную информацию и описать процессы простым языком, не требующим специфических знаний. Мы хотим, чтобы ресурс был интересен и полезен нашим читателям.</p>
								<p>При найме строителей «со стороны» мы зачастую сталкиваемся с проблемой, когда, не разбираясь в вопросе, получаем некачественный ремонт за бешенные деньги. Но ведь не каждый обладает специфическими знаниями в области отделки и прокладке коммуникаций. И хотя «Строй сам» сосредоточился именно на советах в области самостоятельного строительства, наши материалы могут быть полезны и для проверки качества и стоимости работ ваших подрядчиков.</p>
								<p>Информация на сайте структурирована следующим образом:</p>
								<ul>
									<li>все материалы разделены по категориям;</li>
									<li>в правой части каждой страницы размещено меню с удобной навигацией по категориям;</li>
									<li>каждая статья имеет «теги» с указанием основных тем;</li>
									<li>навигация по темам расположена также в правой части сайта;</li>
									<li>статьи снабжены комментариями, вы можете задать вопрос по любому материалу.</li>
								</ul>
								<p>Сайт построен на современных технологиях. Команда программистов постоянно работает над его улучшением. Наши пользователи, помимо комментариев к статьям и вопросов, могут самостоятельно размещать материалы и делиться своим опытом в области строительства. Мы будем рады видеть ваши статьи на сайте. Надеемся на то, что ресурс будет вам полезен и вы станете постоянным посетителем нашего портала!</p>

							</div>

						</div>

						<%= render "/shared/column" %>

					</div>

				</div>
			</section>