

      <!-- Begin Content Section -->
      <section class="mt40 mb40">
        <div class="container">
            <div class="row">

              <!-- Blog Posts -->
              <div class="col-sm-12">
                
 <div class="panel panel-primary">
    <div class="panel-heading">Ваш профиль, <%= @user.name %></div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

          <%= devise_error_messages! %>

            <div class="form-group">
              <label for="exampleInputEmail1">Имя</label>
              <%= f.text_field :name, :class => "form-control", :id => "exampleInputEmail1", :placeholder => "Ваше имя", :required => true %>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <%= f.email_field :email, :class => "form-control", :id => "exampleInputEmail1", autofocus: false %>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Ваш аватар</label>
              <% if current_user.avatar? %>
                  <%= image_tag current_user.avatar.url %> <%= f.file_field :avatar, :class => "form-control" %>
              <% else %>
                  <div class="fancy-file-upload fancy-file-info">
                    <i class="fa fa-upload"></i>
                    <%= f.file_field :avatar, :class => "form-control", :required => true %>
                    <input type="text" class="form-control" placeholder="аватар не выбран" readonly="" />
                    <span class="button">Выбрать файл</span>
                  </div>
              <% end %>  
            </div>  

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
              <label for="exampleInputEmail1">Новый пароль</label>
            <%= f.password_field :password, :class => "form-control", :placeholder => "Оставьте пустым, если не хотите менять пароль", autocomplete: "off" %>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Повторите новый пароль</label>
            <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Оставьте пустым, если не хотите менять пароль", autocomplete: "off" %>
          </div>
          <hr>
          <div class="form-group">
            <label for="exampleInputEmail1">Текущий пароль</label>
            <%= f.password_field :current_password, :class => "form-control", :placeholder => "Для подтверждения изменений введите свой пароль", autocomplete: "off" %>
          </div>

          <div><%= f.submit "Обновить", :class => "btn btn-rw btn-primary" %></div>
        <% end %>
        <hr>
        <h3>Удалить мой аккаунт</h3>

        <p>Решили удалить аккаунт? <%= button_to "Удалить мой аккаунт", registration_path(resource_name), data: { confirm: "Вы уверены?" }, method: :delete %></p>
        <hr>
        <%= link_to "Назад", :back %>


                </div>
</div>
</div>

            </div>
          </div>
      </section><!-- /content -->
      <!-- End Content Section -->




