    <!-- -->
      <section>
        <div class="container">

          <div class="row">

            <!-- LEFT -->
            <div class="col-md-9 col-sm-9">

              <h1 class="blog-post-title"><%= @article.name %></h1>
              <ul class="blog-post-info list-inline">
                <li>
                    <i class="fa fa-clock-o"></i> 
                    <span class="font-lato"><%= Russian::strftime(@article.created_at, "%d %B %Y") %></span>
                </li>

                <% if @article.comments.exists? %>
                <li>
                  <a href="#">
                    <i class="fa fa-comment-o"></i> 
                    <span class="font-lato"><%= @article.comments.count %></span>
                  </a>
                </li>
                <% end %>

                <li>
                  <i class="fa fa-folder-open-o"></i> 
                    <span class="font-lato category"><%= @article.category.name %></span>
                </li>

                <% if @article.user.present? %>
                <li>
                    <i class="fa fa-user"></i> 
                    <span class="font-lato"><%= @article.user.name %></span>
                </li>
                <% end %>

                <% if current_user %>
                  <% if current_user == @article.user || current_user.role == "admin" %>
                  <li>
                    <span class="font-lato">
                      <%= link_to "Редактировать статью", edit_article_path(@article) %>
                    </span>
                  </li>
                  <% end %>
                <% end %>
              </ul>


              <!-- IMAGE -->
              <figure class="margin-bottom-20">
                <%= image_tag @article.image.url, :class => "img-responsive", :alt => @article.name %>
              </figure>
              <!-- /IMAGE -->

              <!-- article content -->
              <p class="dropcap"><%= @article.text.html_safe %></p>

              <div class="divider divider-dotted"><!-- divider --></div>


              <!-- TAGS -->
              <a class="tag" href="#">
                <span class="txt">RESPONSIVE</span>
                <span class="num">12</span>
              </a>
              <a class="tag" href="#">
                <span class="txt">CSS</span>
                <span class="num">3</span>
              </a>
              <a class="tag" href="#">
                <span class="txt">HTML</span>
                <span class="num">1</span>
              </a>
              <a class="tag" href="#">
                <span class="txt">JAVASCRIPT</span>
                <span class="num">28</span>
              </a>
              <a class="tag" href="#">
                <span class="txt">DESIGN</span>
                <span class="num">6</span>
              </a>
              <a class="tag" href="#">
                <span class="txt">DEVELOPMENT</span>
                <span class="num">3</span>
              </a>
              <!-- /TAGS -->



              <!-- SHARE POST -->
              <div class="clearfix margin-top-30">

                <span class="pull-left margin-top-6 bold hidden-xs">
                  Поделиться: 
                </span>

                <a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook pull-right" data-toggle="tooltip" data-placement="top" title="Facebook">
                  <i class="fa fa-facebook"></i>
                  <i class="fa fa-facebook"></i>
                </a>

                <a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter pull-right" data-toggle="tooltip" data-placement="top" title="Twitter">
                  <i class="fa fa-twitter"></i>
                  <i class="fa fa-twitter"></i>
                </a>

                <a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus pull-right" data-toggle="tooltip" data-placement="top" title="Google plus">
                  <i class="fa fa-google-plus"></i>
                  <i class="fa fa-google-plus"></i>
                </a>

              </div>
              <!-- /SHARE POST -->


              <div class="divider"><!-- divider --></div>

              
              <ul class="pager">
                <li class="previous">
                  <%= link_to "Предыдущая статья", @article.previous, :class => "noborder" %>
                </li>
                <li class="next">
                  <%= link_to "Следующая статья", @article.next, :class => "noborder" %>
                </li>
              </ul>


              <div class="divider"><!-- divider --></div>

              
            <%= render "article_comments" %>


            </div>


            <!-- RIGHT -->
            <%= render "/shared/column" %>

          </div>

        </div>
      </section>