            <section>
                <div class="container">
                    
                    <div class="col-lg-3 col-md-3 col-sm-4">
                    
                        <div class="thumbnail text-center">
                            <%= image_tag @user.avatar.url %>
                            <h2 class="size-18 margin-top-10 margin-bottom-0"><%= @user.name %></h2>
                        </div>

                        <!-- SIDE NAV -->
                        <ul class="side-nav list-group margin-bottom-60" id="sidebar-nav">
                            <li class="list-group-item"><%= link_to "<i class='fa fa-eye'></i> Профайл".html_safe, user_path(@user) %></li>
                            <% if current_user == @user || current_user && current_user.role == "admin" %>
                                <li class="list-group-item active"><%= link_to "<i class='fa fa-tasks'></i> Изменить профайл".html_safe, edit_user_registration_path(@user) %></li>
                            <% end %>
                        </ul>
                        <!-- /SIDE NAV -->


                        <!-- info -->
                        <div class="box-light margin-bottom-30"><!-- .box-light OR .box-light -->
                            <div class="row margin-bottom-20">
                                <div class="col-md-6 col-sm-6 col-xs-6 text-center bold">
                                    <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway"><%= @user.articles.count %></h2>
                                    <h3 class="size-11 margin-top-0 margin-bottom-10 text-info">СТАТЬИ</h3>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-6 text-center bold">
                                    <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway"><%= @user.comments.count %></h2>
                                    <h3 class="size-11 margin-top-0 margin-bottom-10 text-info">КОММЕНТАРИИ</h3>
                                </div>

                            </div>
                            <!-- /info -->
                        
                        </div>

                    </div>


                    <!-- RIGHT -->
                    <div class="col-lg-9 col-md-9 col-sm-8">

                        <div class="box-light"><!-- .box-light OR .box-dark -->

                            <!-- PROJECT LIS -->
                            <div class="row">

                                <% @user.articles.order("created_at DESC").each do |article| %>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="box-inner margin-top-30">
                                            <%= link_to ( image_tag article.image.thumb.url, :class => "img-responsive", :alt => article.name ), category_article_path(article.category, article) %>

                                            <h3 class="text-left margin-top-20 bold size-16 elipsis"><%= link_to article.name, category_article_path(article.category, article) %></h3>
                                            <p class="text-left"><%= truncate( raw( sanitize(article.text, :tags => %w(strong), :attributes => %w(id class style) ) ), :length => 100, :omission => "...").html_safe %></p>
                                            <ul class="text-left size-12 list-inline list-separator nomargin">
                                                <li>
                                                    <i class="fa fa-calendar"></i> 
                                                    <%= Russian::strftime(article.created_at, "%d %B %Y") %>
                                                </li>
                                                <li>
                                                    <i class="fa fa-comments"></i> 
                                                    <%= article.comments.count %>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                <% end %>

                            </div>
                            <!-- /PROJECTS LIS -->

                        </div>

                    </div>
                    
                </div>
            </section>
            <!-- / -->
