<!-- RIGHT -->
<div class="col-md-3 col-sm-3">

	<% if current_user && current_user.role == nil %>
    	<div class="text-center text-white margin-bottom-30">
    	    <div class="content-box content-box-bordered">
    	        <div class="btn btn-success" style="font-size:18px; font-weight: bold"><%= link_to "Написать статью", new_article_path, :style => "color: #fff; text-decoration: none" %></div>
    	    </div>
    	</div>
    	<hr />
    <% elsif current_user && current_user.role == "admin" %>
        <%= render "/users/admin_menu" %>
        <hr />
	<% end %>

	

	<!-- TAGS -->
	<h3 class="hidden-xs size-16 margin-bottom-20">Темы статей</h3>
	<div class="hidden-xs margin-bottom-20">

		<% ActsAsTaggableOn::Tag.most_used(7).each do |tag| %>
			<%= link_to "<span class='txt'>#{tag}</span><span class='num'>#{Article.where('view = ?', true).tagged_with(tag).count}</span>".html_safe, tag_path(tag.slug), :class => "tag" %>
		<% end %>

	</div>

    <aside class="content-box-bordered mt30-xs mb30">
        <nav>
            <ul class="sidebar-nav list-group no-margin" id="sidebar-nav">
                <li class="list-group-item text-center"><span class="fa-2x text-main mb5">МЕНЮ</span></li>
                <% Category.all.each do |category| %>
                    <li class="list-group-item list-toggle" style="background-color: #ddd;">
                        <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-<%= category.id %>"><%= "#{category.name}  (#{category.articles.where("view = ?", true).count} #{Russian.p(category.articles.where("view = ?", true).count, 'статья', 'статьи', 'статей')})" %></a>
                        <ul id="collapse-<%= category.id %>" class="collapse">
                            <% category.articles.where("view = ?", true).each do |article| %>
                                <li>
                                    <%= link_to "<i class='fa fa-angle-right'></i> #{article.name}".html_safe, category_article_path(article.category, article) %>
                                </li>
                            <% end %>
                        </ul>
                <% end %>
            </ul>
        </nav>
    </aside>

	<h3 class="hidden-xs size-16 margin-bottom-10 margin-top-30">Последние статьи</h3>

	<!-- JUSTIFIED TAB -->
	<div class="tabs nomargin-top hidden-xs margin-bottom-10">

		<div class="tab-content margin-bottom-10 margin-top-10">

			<!-- POPULAR -->
			<div id="tab_1" class="tab-pane active">

				<% Article.where("view = ?", true).order("created_at DESC").limit(3).each do |article| %>
					<div class="row tab-post"><!-- post -->
						<div class="col-md-3 col-sm-3 col-xs-3">
							<a href="blog-sidebar-left.html">
								<%= link_to ( image_tag article.image.thumb.url, :width => "50", :alt => article.name ), category_article_path(article.category, article) %>
							</a>
						</div>
						<div class="col-md-9 col-sm-9 col-xs-9">
							<%= link_to article.name, category_article_path(article.category, article), :class => "tab-post-link" %>
							<small><%= Russian::strftime(article.created_at, "%d %B %Y") %></small>
						</div>
					</div><!-- /post -->
				<% end %>

			</div>
			<!-- /POPULAR -->

		</div>

	</div>
	<!-- JUSTIFIED TAB -->

	<hr />

	<!-- SOCIAL ICONS -->
	<div class="hidden-xs margin-top-30 margin-bottom-60">
		<a href="#" class="social-icon social-icon-border social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">
			<i class="fa fa-facebook"></i>
			<i class="fa fa-facebook"></i>
		</a>

		<a href="#" class="social-icon social-icon-border social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="Twitter">
			<i class="fa fa-twitter"></i>
			<i class="fa fa-twitter"></i>
		</a>

		<a href="#" class="social-icon social-icon-border social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="Google plus">
			<i class="fa fa-google-plus"></i>
			<i class="fa fa-google-plus"></i>
		</a>

	</div>

</div>