<!-- RIGHT -->
<div class="col-md-3 col-sm-3">

	<% if current_user && current_user.role == nil %>
    	<div class="text-center text-white margin-bottom-30">
    	    <div class="content-box content-box-bordered">
    	        <div class="btn btn-success" style="font-size:18px; font-weight: bold"><%= link_to "Написать статью", new_article_path, :style => "color: #fff; text-decoration: none" %></div>
    	    </div>
    	</div>
    <% elsif current_user && current_user.role == "admin" %>
        <%= render "/users/admin_menu" %>
	<% end %>


	<!-- INLINE SEARCH -->
	<div class="inline-search clearfix margin-bottom-30">
		<form action="" method="get" class="widget_search">
			<input type="search" placeholder="Start Searching..." id="s" name="s" class="serch-input">
			<button type="submit">
				<i class="fa fa-search"></i>
			</button>
		</form>
	</div>
	<!-- /INLINE SEARCH -->

	<hr />

    <aside class="content-box-bordered mt30-xs mb30">
        <nav>
            <ul class="sidebar-nav list-group no-margin" id="sidebar-nav">
                <li class="list-group-item text-center"><span class="fa-2x text-main mb5">МЕНЮ</span></li>
                <% Category.all.each do |category| %>
                    <li class="list-group-item list-toggle">
                        <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-<%= category.id %>"><%= category.name %></a>
                        <ul id="collapse-<%= category.id %>" class="collapse">
                            <% category.articles.where("view = ?", true).each do |article| %>
                                <li>
                                    <%= link_to "<i class='fa fa-angle-right'></i> #{article.name}".html_safe, article %>
                                </li>
                            <% end %>
                        </ul>
                <% end %>
            </ul>
        </nav>
    </aside>





	<h3 class="hidden-xs size-16 margin-bottom-20">Последние статьи</h3>

	<!-- JUSTIFIED TAB -->
	<div class="tabs nomargin-top hidden-xs margin-bottom-60">

		<div class="tab-content margin-bottom-60 margin-top-30">

			<!-- POPULAR -->
			<div id="tab_1" class="tab-pane active">

				<div class="row tab-post"><!-- post -->
					<div class="col-md-3 col-sm-3 col-xs-3">
						<a href="blog-sidebar-left.html">
							<img src="assets/images/demo/people/300x300/1-min.jpg" width="50" alt="" />
						</a>
					</div>
					<div class="col-md-9 col-sm-9 col-xs-9">
						<a href="blog-sidebar-left.html" class="tab-post-link">Maecenas metus nulla</a>
						<small>June 29 2014</small>
					</div>
				</div><!-- /post -->

				<div class="row tab-post"><!-- post -->
					<div class="col-md-3 col-sm-3 col-xs-3">
						<a href="blog-sidebar-left.html">
							<img src="assets/images/demo/people/300x300/2-min.jpg" width="50" alt="" />
						</a>
					</div>
					<div class="col-md-9 col-sm-9 col-xs-9">
						<a href="blog-sidebar-left.html" class="tab-post-link">Curabitur pellentesque neque eget diam</a>
						<small>June 29 2014</small>
					</div>
				</div><!-- /post -->

				<div class="row tab-post"><!-- post -->
					<div class="col-md-3 col-sm-3 col-xs-3">
						<a href="blog-sidebar-left.html">
							<img src="assets/images/demo/people/300x300/3-min.jpg" width="50" alt="" />
						</a>
					</div>
					<div class="col-md-9 col-sm-9 col-xs-9">
						<a href="blog-sidebar-left.html" class="tab-post-link">Nam et lacus neque. Ut enim massa, sodales</a>
						<small>June 29 2014</small>
					</div>
				</div><!-- /post -->

			</div>
			<!-- /POPULAR -->

		</div>

	</div>
	<!-- JUSTIFIED TAB -->


	<!-- TAGS -->
	<h3 class="hidden-xs size-16 margin-bottom-20">TAGS</h3>
	<div class="hidden-xs margin-bottom-60">

		<a class="tag" href="#">
			<span class="txt">RESPONSIVE</span>
			<span class="num">12</span>
		</a>
		<a class="tag" href="#">
			<span class="txt">CSS</span>
			<span class="num">3</span>
		</a>
		<a class="tag" href="#">
			<span class="txt">HTML</span>
			<span class="num">1</span>
		</a>
		<a class="tag" href="#">
			<span class="txt">JAVASCRIPT</span>
			<span class="num">28</span>
		</a>
		<a class="tag" href="#">
			<span class="txt">DESIGN</span>
			<span class="num">6</span>
		</a>
		<a class="tag" href="#">
			<span class="txt">DEVELOPMENT</span>
			<span class="num">3</span>
		</a>
	</div>

	<hr />

	<!-- SOCIAL ICONS -->
	<div class="hidden-xs margin-top-30 margin-bottom-60">
		<a href="#" class="social-icon social-icon-border social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="Facebook">
			<i class="fa fa-facebook"></i>
			<i class="fa fa-facebook"></i>
		</a>

		<a href="#" class="social-icon social-icon-border social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="Twitter">
			<i class="fa fa-twitter"></i>
			<i class="fa fa-twitter"></i>
		</a>

		<a href="#" class="social-icon social-icon-border social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="Google plus">
			<i class="fa fa-google-plus"></i>
			<i class="fa fa-google-plus"></i>
		</a>

	</div>

</div>