<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags :site => 'Строим вместе' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name='yandex-verification' content='6bfff396cd0f8557' />
  <meta name="google-site-verification" content="Hg0tHJV8K4UekQsAwzHSFTLPmin-7BgPs4fZRMgiWPE" />
</head>
<body>

	<%= render 'static_pages/header' %>
	<%= yield %>
	<%= render 'static_pages/footer' %>

</body>
</html>
